@import '../../assets/styles/color.scss';

.choose-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.canvas-wrapper {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $first;
  margin: 20px;
}
