.app {
  display: flex;
  justify-content: end;
  .app-left {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .app-right {
    flex: 1 auto;
    margin-left: 200px;
  }
}
